html{
  height: 100%;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:#ffff;
}

h1{
  text-align: center;
}

.container {
  background-color: black;
  opacity: 85%;
  padding: 7% 10% 7% 10%;
  display: inline-block;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: auto;
  justify-content: center;
  width: 75%;
  height: 100%;
  text-align: center;
}

.form-container {
  max-width: 100%;
  justify-content: center;
}

textarea {
  width: 100%;
  position: relative;
  justify-content: center;
}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;
}

#output-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#solution-container {
  font-weight: bold;
  display: inline-block;
  text-align: center;
}


#translated-sentence {
  margin-top: 10px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
}

#text-input {
  padding: 10px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: flex-end;
  }

  #output-container {
    flex-direction: row;
    margin-top: 0;
    margin-left: 20px;
  }

  #solution-container {
    width: 75%;
    margin-top: 0;
  }
}
